<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ADD FOOD - FOODOOR</title>
</head>

<body class="warm-gradient">
    <%- include('partials/navbar') %>
    <div class="text-center h2 mt-5 fw-bolder">Add - Food</div>
    <% if(msg){ %>
        <div class="h3 m-2 fw-bolder text-center text-success"><%= msg %></div>
    <% } %>
    <form class="container mt-5 w-50" action="/api/add-food" method="POST">
    <div class="form-group">
        <label for="product-name">Product Name:</label>
        <input name="name" type="text" class="form-control" id="product-name" minlength="3" maxlength="16" required>
        <label for="price">Price (in Rs.):</label>
        <input name="price" type="number" step="0.01" min="0" max="5000" class="form-control" id="price" required>
        <label for="cat">Category:</label>
        <input name="category" type="text" class="form-control" id="cat" maxlength="16" required>
        <label for="url">Food image url:</label>
        <input name="image_url" type="url" id="url" class="form-control" placeholder="(if not available , leave it blank)" maxlength="200">
        <button type="submit" class="btn btn-success">Add to the List</button>  
    </div>
    </form>
</body>

</html>