<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ADMIN - FOODOOR</title>
</head>
<body class="black-gradient">
    <%- include('partials/navbar') %>
    <div class="info container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">    
        <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card text-success">
            <div class="title text-center">
                <div class="h1 fw-bolder">ADMIN</div>
                <div class="h3 fw-bolder"><%= user.username %></div>
            </div>
            </div>
    </div>
</body>
</html>