<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Edit User - FOODOOR</title>
</head>

<body class="black-gradient">
    <%- include('partials/navbar') %>
    <div class="info container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">
        <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card text-success">
            <div class="title text-center">
                <div class="h1 fw-bolder">User #<%= userTo.id %>
                </div>
            </div>
            <form action="/edit-user" method="POST">
                <input type="hidden" value="<%= userTo.id %>" name="id">
                <div class="form-group">
                    <label for="usr">Username:</label>
                    <input name="username" type="text" class="form-control dark-input fw-bolder text-light" id="usr" minlength="3" maxlength="16" value="<%= userTo.username %>"
                        required>

                    <label for="user_role">Change the role as:</label>
                    <select class="form-control dark-input fw-bolder text-light" id="user_role" name="user_role" required>
                        <option class="bg-secondary" value="customer">Customer</option>
                        <option class="bg-secondary" value="chef">Chef</option>
                    </select>
                </div>
                <div class="mt-4 d-flex column-gap-4">
                    <button type="submit" class="btn btn-outline-success">Edit it</button>
                    <a href="/" class="btn btn-outline-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>