<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>FOODOOR - An Indian product!</title>
</head>

<body data-bs-theme="dark" class="vh-100 text-center d-flex align-items-center justify-content-center">
    <div class="container ">
        <div class="row mb-3">
            <div class="col">
                <a href="/login" class="btn btn-lg btn-primary">LOGIN</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/signup" class="btn btn-secondary btn-lg">SIGNUP</a>
            </div>
        </div>
    </div>
</body>

</html>