<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>FOODOOR - An Indian product!</title>
</head>
<body >
    <h1>Welcome to the FOODOOR!</h1>
    <p>FOODOOR is an Indian restaurant product that provides a platform for food delivery at your table.</p>
    <h2>To Dive in: Just Login/Signup to our website.</h2>
</body>
</html>